@import "tailwindcss";

@config "../../tailwind.config.ts";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  body {
    @apply bg-beige text-text-main font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}